@charset "UTF-8";
<style>
    *{
        font-size: 0;
        margin: 0;
    }
    .head{
        font-size: 16px;
        height: 100px;
        text-align: center;
    }
    .contents{
        width: 840px;
    }
    .login{
        margin: 150px auto;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login_box{
        border-radius: 5px;
        width: 400px;
        height: 600px;
        background-color: #5cc3ef6c;
        border: 3px solid #5cc4ef;
    }
    .login_title{
        width: 400px;
        height: 250px;
        color: black;
        font-size: 40px;
        text-align: center;
        font-weight: 900;
        line-height: 150px;
    }
    .login_row{
        width: 370px;
        height: 50px;
        border-radius: 5px;
        margin: 15px;
    }
    .login_input{
        display: inline-block;
        border: none;
        width: 360px;
        border-radius: 5px;
        height: 50px;
        outline: #6ae93f;
        color: black;
        font-size: 18px;
        padding-left: 10px;
    }
    .login_btn{
        width: 370px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
        line-height: 50px;
        background-color: #5cc4ef;
        border: 0;
        border-radius: 5px;
    }
    .sns_btns{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sns_btn {
        width: 50px;
        height: 50px;
        display: inline-block;
        color: #ffffff;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
    }
    .naver_bg{
        background-color: #1EC800;
    }
    .cacao_bg{
        background-color: #ffe812;
        margin: 0 15px;
    }
    .google_bg{
        background-color: #FF5722;
    }
    .sns_btn > span {
        font-size: 20px;
        text-align: center;
    }
</style>